<h5>
<%= link_to "Visit our Stallions", stallions_path %>
<%= link_to "Visit our Foals", foals_path %></h5>

<h1>Here are our Broodmares</h1>
<h4><%= link_to "Git me a new Broodmare", new_broodmare_path %></h4>
<br>
<% @broodmares.each do |broodmare| %>
<div class="broodmare">
  <div>  <%= link_to broodmare.id, broodmare_path(broodmare) %>
  <%= link_to broodmare.name, broodmare_path(broodmare) %>
  </div>
</div>
<% end %>
<br>
<br>
<div class="broodmare">
    <%= image_tag ("http://www.pilchuckvet.com/images/cms/Mare&Foal.jpg") %>
</div>
