<h1>Enter a New Broodmare!</h1>

<%= form_for @broodmare do |f| %>
<br>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :age %>
<%= f.text_field :age %>
<br>
<%= f.label :color %>
<%= f.text_field :color %>
<br>
<%= f.label :img_url %>
<%= f.text_field :img_url %>
<br>
<!-- You could also use collection_select here, as you know :) -->
<%= f.select :stallion_id, options_for_select(@stallion_options) %>
<%= f.submit "Submit" %>
<!-- remove unused comments -->

<!--
<h2>1. Choose a Line</h2>
<form class="" action="/new_broodmare" method="get">
<select name="stallion">
<%# @stallion_names.each do |stallion| %>
<option value=stallion.name>  <%#stallion.id%> </option>
<%# end %>
</select>
<button type="submit">submit</button>
</form> -->
<!-- data_for_select = data.each { |stallion_names| [hash['name'], hash['id']] }
options_for_select(data_for_select) -->


<% end %>
