<h1><%= @broodmare.name %> </h1>
<p style="align-content: center"><%= link_to "(edit)", edit_broodmare_path(@broodmare) %></p>

<h4> is in foal to </h4>

<h3><%= @broodmare.stallion.name %></h3>

<p>Age: <%= @broodmare.age %></p>
<p>Color: <%= @broodmare.color %></p>
<p>Stallion_id: <%= @broodmare.stallion_id %></p>

<div class="horsePic"> <%= image_tag (@broodmare.img_url) %> </div>
