<h1><%= link_to @broodmare.name, edit_broodmare_path(@broodmare) %></h1>
<p>Age:  <%= @broodmare.age %></p>
<p>Color:  <%= @broodmare.color %></p>
<p>Name: <%= @broodmare.name %> <%= link_to "(edit)", edit_broodmare_path(@broodmare) %></p>
<p>Stallion:  <%= @broodmare.stallion.name %></p>
<div                                    class="broodmare">

      <%= image_tag (                         @broodmare.img_url) %>

  </div>
