<%# ############################################# %>
<%# # 201702221638L     EL MARTES   GIRO %>
<h5>
<%= link_to "Visit our Broodmares", broodmares_path %>
<%= link_to "Visit our Stallions", stallions_path %>
</h5>
<h1>Our Foals</h1>


<%= link_to "Birth a New Foal", new_foal_path %>
<br><br>

<% @foals.each do |foal| %>
<div class="foal">
<div><%= link_to foal.nom_de_muerre, foal_path(foal) %>
</div>
</div>
<% end %>
<br>
<br>
<div class="broodmare">
    <%= image_tag ("http://cdn.thehorse.com/images/cms/2016/03/pinto-foal-running-in-pasture.jpg?preset=medium") %>
</div>
