<h1>Your New Foal</h1>

<%= form_for @foal do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.label :bloodmare_id %>
<%= f.text_field :bloodmare_id %>

<%= f.submit "Submit" %>
<% end %>
