<h2>I want a different color Stallion, NOW!</h2>

<%= form_for @stallion, method: :put do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :age %>
<%= f.text_field :age %>
<br>
<br>
<%= f.label :color %>
<%= f.text_field :color %>
<br>
<br>
<%= f.label :img_url %>
<%= f.text_field :img_url %>
<br>
<br>
<%= f.label :id %>
<%= f.text_field :id %>
<br>
<br>
<%= f.submit "Change my horsey, NOW!" %>

<%  end %>

    <br>
    <br>
<%= form_for @stallion, method: :delete do |f| %>
    <%= f.submit "I want a new Stallion, delete this old one, NOW!" %>
<% end %>
