                  <%# ############################################# %>
                  <%# # 201702221638L     EL MARTES   GIRO %>
                  <h5>
                  <%= link_to "Visit our Broodmares", broodmares_path %>
                  <%= link_to "Visit our Foals", foals_path %></h5>
<h1>Our Stallions</h1>


<h2><%= link_to "I wants me a new Stallion", new_stallion_path %> </h2>

<% @stallions.each do |stallion| %>
    <div class="stallion">
      <div>  <%= link_to stallion.id, stallion_path(stallion) %>
      <%= link_to stallion.name, stallion_path(stallion) %>
      </div>
    </div>
<% end %>
<br>
<br>
<div class="broodmare">
    <%= image_tag ("https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Puerto_rican-Paso-Fino-Horse-chestnut.jpg/800px-Puerto_rican-Paso-Fino-Horse-chestnut.jpg") %>
</div>
