<h1><%= link_to @stallion.name, edit_stallion_path(@stallion) %></h1>
<p>Name:
    <%= @stallion.name %>
    <%= link_to "  (i want to change this Stallion)", edit_stallion_path(@stallion) %></p>
<p>Age:
    <%= @stallion.age %></p>
<p>Color:
    <%= @stallion.color %></p>
<p>Stallion:
    <%= @stallion.name %></p>
<div class="stallion">
    <%= image_tag (@stallion.img_url) %>
</div>
